@import "src/scss/style.scss";

$input-text-width-adminsetting: 100px;

.cs-input-group-adminsetting {
    @extend .cs-input-group;
}

.cs-input-group-adminsetting span {
    width: $input-text-width-adminsetting;
}

.cs-input-group-adminsetting input {
    @extend .form-control;
}

table {
    overflow-x: scroll;
}

