<div class="animated fadeIn">
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="card cs-card-v300">
        <div class="card-header">
          Data transfer
        </div>
        <div class="card-body d-flex flex-column align-items-end">
          <div class="row align-self-start">
            <div class="cs-input-group-adminsetting">
              <div>
                <span>
                  Frequency
                </span>
              </div>
              <input type="text" value="10s" />
            </div>
          </div>
          <div class="row align-self-start">
            <div class="cs-input-group-adminsetting">
              <div>
                <span>
                  Alert delay
                </span>
              </div>
              <input type="text" value="60s" />
            </div>
          </div>
          <div class="row align-self-center mt-auto">
            <div class="col text-center">
              <button class="btn btn-primary cs-submit-100">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="card cs-card-v300">
        <div class="card-header">
          Cloud server
        </div>
        <div class="card-body d-flex flex-column align-items-end">
          <div class="row align-self-start">
            <div class="cs-input-group">
              <div>
                <span>
                  URL
                </span>
              </div>
            </div>
          </div>
          <div class="row align-self-stretch">
            <input type="text" class="form-control" value="">
          </div>
          <div class="row align-self-start">
            <div class="cs-input-group-switch">
              <div>
                <span>
                  Status
                </span>
              </div>
              <div>
                <ui-switch size="small" checked></ui-switch>
              </div>
            </div>
          </div>
          <div class="row align-self-start">
            <div class="cs-input-group-switch">
              <div>
                <span>
                  Error log
                </span>
              </div>
              <div>
                <ui-switch size="small" checked></ui-switch>
              </div>
            </div>
          </div>
          <div class="row align-self-center mt-auto">
            <div class="col text-center">
              <button class="btn btn-primary cs-submit-100">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>