<div class="animated fadeIn">
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-header">
          Data transfer
        </div>
        <div class="card-body">
          <div class="row">
            <div class="cs-input-group-adminsetting">
              <div>
                <span>
                  Frequency
                </span>
              </div>
              <input type="text" value="10s" />
            </div>
          </div>
          <div class="row">
            <div class="cs-input-group-adminsetting">
              <div>
                <span>
                  Alert delay
                </span>
              </div>
              <input type="text" value="60s" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-header">
          Cloud server
        </div>
        <div class="card-body">
          <div class="row">
            <div class="cs-input-group">
              <div>
                <span>
                  URL
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <input type="text" class="form-control" value="">
          </div>
          <div class="row">
            <div class="cs-input-group-switch">
              <div>
                <span>
                  Status
                </span>
              </div>
              <div>
                <ui-switch size="small" checked></ui-switch>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="cs-input-group-switch">
              <div>
                <span>
                  Error log
                </span>
              </div>
              <div>
                <ui-switch size="small" checked></ui-switch>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card">
        <div class="card-header">
          Command setting
        </div>
        <div class="card-body">
          <div class="row">
          <table class="table table-responsive-sm table-striped table-hover table-outline mb-0">
            <thead class="text-white bg-primary">
              <tr>
                <th>Command</th>
                <th>Start bit</th>
                <th>Length</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of commands$ | async">
                <td>
                  <div class="small text-muted">{{c.command_name}}</div>
                </td>
                <td>
                  <div class="small text-muted">{{c.start_bit}}</div>
                </td>
                <td>
                  <div class="small text-muted">{{c.length}}</div>
                </td>
                <td>
                  <div class="small text-muted">{{c.data}}</div>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>