<div class="animated fadeIn">
  <div class="row">
    <div class="col-12 col-md-6 col-xl-3">
      <div class="card cs-card-v300">
        <div class="card-header">
          Default Schedule
        </div>
        <div class="card-body d-flex flex-column align-items-end">
          <div class="row align-self-start">
            <div class="cs-input-group-setting">
              <div>
                <span>
                  Start time
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
          <div class="row align-self-start">
            <div class="cs-input-group-setting">
              <div>
                <span>
                  End time
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
          <div class="row align-self-start">
            <div class="cs-input-group-switch">
              <div>
                <span>
                  All day
                </span>
              </div>
              <div>
                <ui-switch size="small" checked></ui-switch>
              </div>
            </div>
          </div>
          <div class="row align-self-center mt-auto">
            <div class="col text-center">
              <button class="btn btn-primary cs-submit-100">Save</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card cs-card-v500">
        <div class="card-header">
          Notification
        </div>
        <div class="card-body d-flex flex-column align-items-end">
          <div class="row align-self-start">
            <div class="cs-input-group-switch">
              <div>
                <span>
                  Start charging
                </span>
              </div>
              <div>
                <ui-switch size="small" checked></ui-switch>
              </div>
            </div>
          </div>
          <div class="row align-self-start">
            <div class="cs-input-group-switch">
              <div>
                <span>
                  Finish charging
                </span>
              </div>
              <div>
                <ui-switch size="small"></ui-switch>
              </div>
            </div>
          </div>
          <div class="row align-self-start">
            <div class="cs-input-group-switch">
              <div>
                <span>
                  Alert
                </span>
              </div>
              <div>
                <ui-switch size="small"></ui-switch>
              </div>
            </div>
          </div>
          <div class="row align-self-start">
            <div class="cs-input-group-switch">
              <div>
                <span>
                  Monthly report
                </span>
              </div>
              <div>
                <ui-switch size="small"></ui-switch>
              </div>
            </div>
          </div>
          <div class="row align-self-start">
            <div class="cs-input-group">
              <div>
                <span>
                  Email list
                </span>
              </div>
            </div>
          </div>
          <div class="row mt-3 align-self-start">
            <div class="col">
              <div class="row">
                <div class="col text-muted">aaa@test.com</div>
                <div class="col text-right">
                  <label class="switch switch-outline-primary-alt switch-sm">
                    <input type="checkbox" class="switch-input" checked>
                    <span class="switch-slider"></span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col text-muted">andre@test.com</div>
                <div class="col text-right">
                  <label class="switch switch-outline-primary-alt switch-sm">
                    <input type="checkbox" class="switch-input" checked>
                    <span class="switch-slider"></span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col text-muted">robinyang119@gmail.com</div>
                <div class="col text-right">
                  <label class="switch switch-outline-primary-alt switch-sm">
                    <input type="checkbox" class="switch-input">
                    <span class="switch-slider"></span>
                  </label>
                </div>
              </div>

            </div>
          </div>
          <div class="row align-self-center mt-auto">
            <div class="col text-center">
              <button class="btn btn-primary cs-submit-100">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
      <div class="card cs-card-v300">
        <div class="card-header">
          Default limitations
        </div>
        <div class="card-body d-flex flex-column align-items-end">
          <div class="row align-self-start">
            <div class="cs-input-group-setting">
              <div>
                <span>
                  Max chargers
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
          <div class="row align-self-start">
            <div class="cs-input-group-setting">
              <div>
                <span>
                  Max current
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
          <div class="row align-self-start">
            <div class="cs-input-group-setting">
              <div>
                <span>
                  Max kW
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
          <div class="row align-self-start">
            <div class="cs-input-group-setting">
              <div>
                <span>
                  Daily Max kWh
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
          <div class="row align-self-center mt-auto">
            <div class="col text-center">
              <button class="btn btn-primary cs-submit-100">Save</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card cs-card-v500">
        <div class="card-header">
          Report
        </div>
        <div class="card-body d-flex flex-column align-items-end">
          <div class="row align-self-start">
            <div class="cs-input-group-switch">
              <div>
                <span>
                  Monthly report
                </span>
              </div>
              <div>
                <ui-switch size="small" checked></ui-switch>
              </div>
            </div>
          </div>
          <div class="row align-self-start">
            <div class="cs-input-group">
              <div>
                <span>
                  Email list
                </span>
              </div>
            </div>
          </div>
          <div class="row mt-3 align-self-start">
            <div class="col">
              <div class="row">
                <div class="col text-muted">aaa@test.com</div>
                <div class="col text-right">
                  <label class="switch switch-outline-primary-alt switch-sm">
                    <input type="checkbox" class="switch-input">
                    <span class="switch-slider"></span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col text-muted">andre@test.com</div>
                <div class="col text-right">
                  <label class="switch switch-outline-primary-alt switch-sm">
                    <input type="checkbox" class="switch-input" checked>
                    <span class="switch-slider"></span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col text-muted">robinyang119@gmail.com</div>
                <div class="col text-right">
                  <label class="switch switch-outline-primary-alt switch-sm">
                    <input type="checkbox" class="switch-input">
                    <span class="switch-slider"></span>
                  </label>
                </div>
              </div>

            </div>
          </div>
          <div class="row align-self-center mt-auto">
            <div class="col text-center">
              <button class="btn btn-primary cs-submit-100">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card cs-card-v800">
        <div class="card-header">
          Command setting
        </div>
        <div class="card-body d-flex flex-column align-items-end">
          <div class="row align-self-stretch">
            <table class="table table-responsive-sm table-striped table-hover table-outline mb-0">
              <thead class="text-white bg-primary">
                <tr>
                  <th>Command</th>
                  <th>Start bit</th>
                  <th>Length</th>
                  <th>Data</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of commands$ | async">
                  <td>
                    <div class="small text-muted">{{c.command_name}}</div>
                  </td>
                  <td>
                    <div class="small text-muted">{{c.start_bit}}</div>
                  </td>
                  <td>
                    <div class="small text-muted">{{c.length}}</div>
                  </td>
                  <td>
                    <div class="small text-muted">{{c.data}}</div>
                  </td>
                  <td>
                    <div class="d-flex justify-content-around">
                      <a href="" (click)="commandEditModal.show();false">
                        <i class="fa fa-edit text-secendary"></i>
                      </a>
                      <a href="" (click)="commandRemoveModal.show();false">
                        <i class="fa fa-times text-danger"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row align-self-center mt-auto">
            <div class="col">
              <button class="btn btn-primary cs-submit-150" data-toggle="modal" (click)="commandAddModal.show()">Add Command</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #commandAddModal="bs-modal" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Command</h4>
        <button type="button" class="close" (click)="commandAddModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body h-50">
        <p class="text-muted">Add new command</p>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Command</span>
          </div>
          <input type="text" class="form-control" placeholder="">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Start bit</span>
          </div>
          <input type="text" class="form-control" placeholder="">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Length</span>
          </div>
          <input type="text" class="form-control" placeholder="">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Data</span>
          </div>
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="commandAddModal.hide()">Cancel</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #commandEditModal="bs-modal" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Command</h4>
        <button type="button" class="close" (click)="commandAddModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body h-50">
        <p class="text-muted">Change command, start bit, length or data</p>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Command</span>
          </div>
          <input type="text" class="form-control" placeholder="">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Start bit</span>
          </div>
          <input type="text" class="form-control" placeholder="">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Length</span>
          </div>
          <input type="text" class="form-control" placeholder="">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Data</span>
          </div>
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="commandEditModal.hide()">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #commandRemoveModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Remove Command</h4>
        <button type="button" class="close" (click)="commandRemoveModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to remove this command ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="commandRemoveModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger">Remove</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->