<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <table class="table table-responsive-lg table-striped table-hover table-outline mb-0">
            <thead class="text-white bg-primary">
              <tr>
                <th>Vehicle ID</th>
                <th>Vehicle VIN</th>
                <th>Spec</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of settings$ | async">
                <td>
                  <div class="small text-muted">{{s.vehicle_id}}</div>
                </td>
                <td>
                  <div class="small text-muted">{{s.vehicle_vin}}</div>
                </td>
                <td>
                  <div class="small text-muted">{{s.spec}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-around">
                    <a href="" (click)="vehicleEditModal.show();false">
                      <i class="fa fa-edit text-secendary"></i>
                    </a>
                    <a href="" (click)="vehicleRemoveModal.show();false">
                      <i class="fa fa-times text-danger"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row my-3">
            <div class="col text-center">
              <button class="btn btn-primary cs-submit" data-toggle="modal" (click)="vehicleAddModal.show()">Add Vehicle</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #vehicleAddModal="bs-modal" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Vehicle</h4>
        <button type="button" class="close" (click)="vehicleAddModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body h-50">
        <p class="text-muted">Add new vehicle</p>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">VIN</span>
          </div>
          <input type="text" class="form-control" placeholder="VIN">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Spec</span>
          </div>
          <input type="text" class="form-control" placeholder="Spec">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="vehicleAddModal.hide()">Cancel</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #vehicleEditModal="bs-modal" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Vehicle</h4>
        <button type="button" class="close" (click)="vehicleAddModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body h-50">
          <p class="text-muted">change vehicle VIN or specification</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">VIN</span>
            </div>
            <input type="text" class="form-control" placeholder="VIN">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Spec</span>
            </div>
            <input type="text" class="form-control" placeholder="Specification">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="vehicleEditModal.hide()">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #vehicleRemoveModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Remove Vehicle</h4>
        <button type="button" class="close" (click)="vehicleRemoveModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to remove the vehicle ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="vehicleRemoveModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger">Remove</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->