<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-2">
      <div class="card text-white bg-primary h-75">
        <div class="card-body">
          <div class="text-value">13258.8</div>
          <div>Total charged kWh</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-2">
      <div class="card text-white bg-primary h-75">
        <div class="card-body">
          <div class="text-value">2356.5</div>
          <div>This month charged kWh</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-2">
      <div class="card text-white bg-primary h-75">
        <div class="card-body pb-4">
          <div class="text-value">356.1</div>
          <div>Today charged kWh</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-2">
      <div class="card text-white bg-primary h-75">
        <div class="card-body pb-4">
          <div class="text-value">5006</div>
          <div>Total charged hours</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-2">
      <div class="card text-white bg-primary h-75">
        <div class="card-body pb-4">
          <div class="text-value">851</div>
          <div>Total charged times</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-2">
      <div class="card text-white bg-primary h-75">
        <div class="card-body pb-4">
          <div class="text-value">32</div>
          <div>Total charge stations</div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-12 col-xl-9">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-xl-6">
              <div class="row">
                <h6 class="col">Today's kWh</h6>
              </div>
              <div class="chart-wrapper"> 
                <canvas baseChart class="chart" *ngIf="datakWhToday.length > 0" [datasets]="datakWhToday" [labels]="labelskWhToday" 
                  [options]="optionskWhToday" [colors]="colourskWhToday"
                  [legend]="chartLegend" [chartType]="chartType"></canvas>
              </div>
            </div>
            <div class="col-12 col-xl-6">
               <div class="row">
                <h6 class="col">Today's current</h6>
              </div>
              <div class="chart-wrapper"> 
                <canvas baseChart class="chart" *ngIf="dataCurrentToday.length > 0"  [datasets]="dataCurrentToday" [labels]="labelsCurrentToday" 
                  [options]="optionsCurrentToday" [colors]="coloursCurrentToday"
                  [legend]="chartLegend" [chartType]="chartType"></canvas>
              </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="row">
                <h6 class="col">Last two week's kWh</h6>
              </div>
              <div class="chart-wrapper">
                <canvas baseChart class="chart" *ngIf="datakWh2weeks.length > 0" [datasets]="datakWh2weeks" 
                  [labels]="labelskWh2weeks" [options]="optionskWh2weeks" [colors]="colourskWh2weeks"
                  [legend]="chartLegend" [chartType]="'bar'"></canvas>
              </div>
            </div>
            <div class="col-12 col-xl-6">
                 <div class="row">
                <h6 class="col">Last two week's alert times</h6>
              </div>
              <div class="chart-wrapper">
                  <canvas baseChart class="chart" *ngIf="dataAlertTimes2weeks.length > 0" [datasets]="dataAlertTimes2weeks" 
                      [labels]="labelsAlertTimes2weeks" [options]="optionsAlertTimes2weeks" [colors]="coloursAlertTimes2weeks"
                      [legend]="chartLegend" [chartType]="'bar'"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-3 pt pl-4">
      <div class="row">
        <div class="cs-input-group-limitation">
          <div>
            <span>
              Current time
            </span>
          </div>
          <input type="text" value="" />
        </div>
      </div>
      <div class="row">
        <div class="cs-input-group-limitation">
          <div>
            <span>
              This month kWh
            </span>
          </div>
          <input type="text" value="" />
        </div>
      </div>
      <div class="row">
        <div class="cs-input-group-limitation">
          <div>
            <span>
              Total kWh
            </span>
          </div>
          <input type="text" value="" />
        </div>
      </div>
      <div class="row mt-4">
        <h4 class="col pl-0">Limitations</h4>
      </div>
      <div class="row">
        <div class="cs-input-group-limitation">
          <div>
            <span>
              Max chargers
            </span>
          </div>
          <input type="text" value="" />
        </div>
      </div>
      <div class="row">
        <div class="cs-input-group-limitation">
          <div>
            <span>
              Start time
            </span>
          </div>
          <input type="text" value="" />
        </div>
      </div>
      <div class="row">
        <div class="cs-input-group-limitation">
          <div>
            <span>
              End time
            </span>
          </div>
          <input type="text" value="" />
        </div>
      </div>
      <div class="row">
        <div class="cs-input-group-limitation">
          <div>
            <span>
              Max current
            </span>
          </div>
          <input type="text" value="" />
        </div>
      </div>
      <div class="row">
        <div class="cs-input-group-limitation">
          <div>
            <span>
              Max kW
            </span>
          </div>
          <input type="text" value="" />
        </div>
      </div>
      <div class="row">
        <div class="cs-input-group-limitation">
          <div>
            <span>
              Daily max kWh
            </span>
          </div>
          <input type="text" value="" />
        </div>
      </div>
    </div>
  </div>
</div>