<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-2">
      <div class="card text-white bg-primary h-75">
        <div class="card-body">
          <div class="text-value">13258.8</div>
          <div>Total charged kWh</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-2">
      <div class="card text-white bg-info h-75">
        <div class="card-body">
          <div class="text-value">2356.5</div>
          <div>This month charged kWh</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-2">
      <div class="card text-white bg-warning h-75">
        <div class="card-body pb-4">
          <div class="text-value">356.1</div>
          <div>Today charged kWh</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-2">
      <div class="card text-white bg-danger h-75">
        <div class="card-body pb-4">
          <div class="text-value">5006</div>
          <div>Total charged hours</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-2">
      <div class="card text-white bg-secondary h-75">
        <div class="card-body pb-4">
          <div class="text-value">851</div>
          <div>Total charged times</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-2">
      <div class="card text-white bg-success h-75">
        <div class="card-body pb-4">
          <div class="text-value">32</div>
          <div>Total charge stations</div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-9">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col col-xl-6">
              <!-- <div class="row">
                <div class="col">
                  <h4 class=" mb-0">Today's kWh</h4>
                  <div class="small text-muted">November 2017</div>
                </div>
              </div> -->
              <div class="chart-wrapper" style="height:200px;margin-top:40px;">
                <canvas baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabels" [options]="mainChartOptions" [colors]="mainChartColours"
                  [legend]="mainChartLegend" [chartType]="mainChartType"></canvas>
              </div>
            </div>
            <div class="col col-xl-6">
              <!-- <div class="row">
                <div class="col">
                  <h4 class=" mb-0">Today's current</h4>
                  <div class="small text-muted">November 2017</div>
                </div>
              </div> -->
              <div class="chart-wrapper" style="height:200px;margin-top:40px;">
                <canvas baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabels" [options]="mainChartOptions" [colors]="mainChartColours"
                  [legend]="mainChartLegend" [chartType]="mainChartType"></canvas>
              </div>
            </div>
            <div class="col col-xl-6">
              <!-- <div class="row">
                <div class="col">
                  <h4 class="mb-0">Last two week's kWh</h4>
                  <div class="small text-muted">November 2017</div>
                </div>
              </div> -->
              <div class="chart-wrapper" style="height:200px;margin-top:40px;">
                <canvas baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabels" [options]="mainChartOptions" [colors]="mainChartColours"
                  [legend]="mainChartLegend" [chartType]="'bar'"></canvas>
              </div>
            </div>
            <div class="col col-xl-6">
              <!-- <div class="row">
                <div class="col">
                  <h4 class="mb-0">Last two week's alert times</h4>
                  <div class="small text-muted">November 2017</div>
                </div>
              </div> -->
              <div class="chart-wrapper" style="height:200px;margin-top:40px;">
                <canvas baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabels" [options]="mainChartOptions" [colors]="mainChartColours"
                  [legend]="mainChartLegend" [chartType]="'bar'"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 pt-4">
      <div class="row">
        <h4 class="col-7 text-white bg-info pb-1">Current time</h4>
        <h3 class="col-3">15:32</h3>
      </div>
      <div class="row mt-4">
        <h2 class="col pl-0">Limitations</h2>
      </div>
      <div class="row">
        <h4 class="col-7 text-white bg-info pb-1">Max charger</h4>
        <h3 class="col-3"></h3>
      </div>
      <div class="row">
        <h4 class="col-7 text-white bg-info pb-1">Start time</h4>
        <h3 class="col-3"></h3>
      </div>
      <div class="row">
        <h4 class="col-7 text-white bg-info pb-1">Max current</h4>
        <h3 class="col-3"></h3>
      </div>
      <div class="row">
        <h4 class="col-7 text-white bg-info pb-1">Max kWh</h4>
        <h3 class="col-3"></h3>
      </div>
      <div class="row">
        <h4 class="col-7 text-white bg-info pb-1">Daily Max kWh</h4>
        <h3 class="col-3"></h3>
      </div>
    </div>
  </div>
</div>