@import "src/scss/style.scss";

$input-text-width-station: 110px;
$button-force-width: 100px;

// station component inherits from cs-input-group
.cs-input-group-station {
    @extend .cs-input-group;
}

.cs-input-group-station span {
    width: $input-text-width-station !important;
}

.cs-card-info {
    @extend .card;
    height: 550px;
}

.cs-charging-status-bg {
    height: 280px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
}

// status background image
.cs-bg-offline {
    background-image: url('assets/img/station/offline.png');
}

.cs-bg-alert {
    background-image: url('assets/img/station/alert.png');
}

.cs-bg-waiting {
    background-image: url('assets/img/station/waiting.png');
}

.cs-bg-complete {
    background-image: url('assets/img/station/complete.png');
}

.cs-bg-charging {
    background-image: url('assets/img/station/charging.gif');
}

.cs-charging-left-time {
  width:calc(100% - 300px);
}

.cs-qr-code {
    width: 150px; 
    height: 150px
}
