<div class="animated fadeIn">
  <div class="row">
    <div class="col-12 col-xl-9">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-xl-8">
              <div class="cs-input-group-filter">
                <div>
                  <span>Filter</span>
                </div>
                <div>
                  <a href="" [routerLink]="" (click)="loadData()">
                    <small>All</small>
                  </a>
                  <a href="" [routerLink]="" (click)="filterStatus('waiting')">
                    <i class="text-warning"></i><small>Waiting</small>
                  </a>
                  <a href="" [routerLink]="" (click)="filterStatus('charging')">
                    <i class="text-success"></i><small>Charging</small>
                  </a>
                  <a href="" [routerLink]="" (click)="filterStatus('complete')">
                    <i class="text-primary"></i><small>Complete</small>
                  </a>
                  <a href="" [routerLink]="" (click)="filterStatus('alert')">
                    <i class="text-danger"></i><small>Alert</small>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-4">
              <div class="cs-input-group-search">
                <div>
                  <span>Station#</span>
                </div>
                <input type="text" [(ngModel)]="stationCode" size="5" class="form-contrl" />
                <div>
                  <button class="btn btn-primary pt-0" (click)="filterStation(stationCode)">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="card-columns">
                <div class="card" *ngFor="let s of stations$ | async">
                  <div class="card-body py-1">
                    <div class="row no-gutters">
                      <a class="col-12 col-lg-2" [routerLink]="['station', s.code]">
                        <strong>{{s.code}}</strong>
                      </a>
                      <div class="col-12 col-lg-3" [ngSwitch]="s.status">
                        <i *ngSwitchCase="'waiting'" class="fa fa-circle text-warning"></i>
                        <i *ngSwitchCase="'charging'" class="fa fa-circle text-success"></i>
                        <i *ngSwitchCase="'complete'" class="fa fa-circle text-primary"></i>
                        <i *ngSwitchCase="'alert'" class="fa fa-circle text-danger"></i>
                        <i *ngSwitchDefault class="fa fa-circle text-mute"></i>
                        {{s.status | titlecase}}</div>
                      <div class="col-12 col-lg-3">{{s.time | date:'MM/dd hh:mm'}}</div>
                      <div class="col-12 col-lg-4">
                        <div class="progress border border-dark">
                          <div class="progress-bar bg-success" [style.width.%]="s.value">
                            <small>{{s.value}}%</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <ngx-datatable class="material col m-3" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'">
              <ngx-datatable-column name="Stations">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="row">
                    <a [routerLink]="['station', row['code']]">
                      {{row['code']}}
                    </a>
                    <div class="col">
                      {{row['status']}}
                    </div>
                    <div class="col">
                      {{row['time']}}
                    </div>
                    <div class="col">
                      {{row['value']}}
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="row no-gutters">
            <div class="col-6">
              <ngx-gauge size="100" [type]="'semi'" [value]="68.3" [label]="'kWh'" [thick]="6" [append]="">
              </ngx-gauge>
            </div>
            <div class="col-6">
              <ngx-gauge size="100" [type]="'semi'" [value]="17.4" [label]="'kWh'" [thick]="6" [append]="">
              </ngx-gauge>
            </div>
            <div class="col-6">
              <ngx-gauge size="100" [type]="'semi'" [value]="85" [label]="'V'" [thick]="6" [append]="">
              </ngx-gauge>
            </div>
            <div class="col-6">
              <ngx-gauge size="100" [type]="'semi'" [value]="57" [label]="'A'" [thick]="6" [append]="">
              </ngx-gauge>
            </div>
          </div>
          <div class="row pl-1">
            <div class="col">
              <div class="row">
                <div class="cs-input-group-limitation">
                  <div>
                    <span>
                      Total Today kWh
                    </span>
                  </div>
                  <input type="text" value="" />
                </div>
              </div>
              <div class="row">
                <div class="cs-input-group-limitation">
                  <div>
                    <span>
                      This month kWh
                    </span>
                  </div>
                  <input type="text" value="" />
                </div>
              </div>
              <div class="row">
                <div class="cs-input-group-limitation">
                  <div>
                    <span>
                      Total kWh
                    </span>
                  </div>
                  <input type="text" value="" />
                </div>
              </div>
              <div class="row mt-4">
                <h4 class="col pl-0">Limitations</h4>
              </div>
              <div class="row">
                <div class="cs-input-group-limitation">
                  <div>
                    <span>
                      Max chargers
                    </span>
                  </div>
                  <input type="text" value="" />
                </div>
              </div>
              <div class="row">
                <div class="cs-input-group-limitation">
                  <div>
                    <span>
                      Start time
                    </span>
                  </div>
                  <input type="text" value="" />
                </div>
              </div>
              <div class="row">
                <div class="cs-input-group-limitation">
                  <div>
                    <span>
                      End time
                    </span>
                  </div>
                  <input type="text" value="" />
                </div>
              </div>
              <div class="row">
                <div class="cs-input-group-limitation">
                  <div>
                    <span>
                      Max current
                    </span>
                  </div>
                  <input type="text" value="" />
                </div>
              </div>
              <div class="row">
                <div class="cs-input-group-limitation">
                  <div>
                    <span>
                      Max kWh
                    </span>
                  </div>
                  <input type="text" value="" />
                </div>
              </div>
              <div class="row">
                <div class="cs-input-group-limitation">
                  <div>
                    <span>
                      Daily max kWh
                    </span>
                  </div>
                  <input type="text" value="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>