<div class="animated fadeIn">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-3 mx-3">
          <div class="row bg-success">
            <div class="col">
              <div class="row">
                <button class="col btn btn-light mx-4 mt-2">
                  <i class="fa fa-bolt fa-4x text-dark"></i>
                </button>
              </div>
              <div class="row">
                <h3 class="col text-white text-center my-5">A01</h3>
              </div>
            </div>
          </div>
          <div class="row my-2">
            <h6 class="col">
              Charging time left
            </h6>
          </div>
          <div class="row">
            <div class="col-3 px-2"><button class="btn btn-dark">0</button></div>
            <div class="col-3 px-2"><button class="btn btn-dark">9</button></div>
            <div class="col-3 px-2"><button class="btn btn-dark">2</button></div>
            <div class="col-3 px-2"><button class="btn btn-dark">4</button></div>
          </div>
          <div class="row">
            <div class="col small text-center">Hour</div>
            <div class="col small text-center">Minute</div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <h5 class="col-6 text-white bg-info pb-1">Max charger</h5>
            <h5 class="col-3"></h5>
          </div>
          <div class="row">
            <h5 class="col-6 text-white bg-info pb-1">Start time</h5>
            <h5 class="col-3"></h5>
          </div>
          <div class="row">
            <h5 class="col-6 text-white bg-info pb-1">Max current</h5>
            <h5 class="col-3"></h5>
          </div>
          <div class="row">
            <h5 class="col-6 text-white bg-info pb-1">Max kWh</h5>
            <h5 class="col-3"></h5>
          </div>
          <div class="row">
            <h5 class="col-6 text-white bg-info pb-1">Daily Max kWh</h5>
            <h5 class="col-3"></h5>
          </div>
          <div class="row">
            <h5 class="col-6 text-white bg-info pb-1">Daily Max kWh</h5>
            <h5 class="col-3"></h5>
          </div>
          <div class="row">
            <h5 class="col-6 text-white bg-info pb-1">Daily Max kWh</h5>
            <h5 class="col-3"></h5>
          </div>
          <div class="row my-1">
              <div class="col-3">
                <button class="btn btn-primary">Force Start</button>
              </div>
              <div class="col-9 small mt-2">
                Force start will let lowest priority charge pause charging
              </div>
          </div>
          <div class="row my-1">
              <div class="col-3">
                <button class="btn btn-primary">Force Pause</button>
              </div>
              <div class="col-9 small mt-2">
                Force start will let lowest priority charge pause charging
              </div>
          </div>
          <div class="row my-1">
              <div class="col-3">
                <button class="btn btn-primary">Force Stop</button>
              </div>
              <div class="col-9 small mt-2">
                Force start will let lowest priority charge pause charging
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-12 div col-md-6">
          <div class="card">
            <div class="card-body"></div>
          </div>
        </div>
        <div class="col-12 div col-md-6">
          <div class="card">
            <div class="card-body"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>