<div class="animated fadeIn">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 col-lg-4">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-7 offset-3 col-sm-12 offset-sm-0 
                d-flex flex-column justify-content-around 
                cs-charging-status-bg">
                  <div class="row">
                    <h3 class="col text-white text-center">
                      {{ (station$ | async)?.code }}
                    </h3>
                  </div>
                  <div class="row">
                    <h4 class="col text-white text-center">
                      {{ (station$ | async)?.status | titlecase }}
                    </h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row mt-2">
                <h6 class="col text-center">
                  Charging time left
                </h6>
              </div>
              <div class="row">
                <div class="col btn-group justify-content-center">
                  <button class="btn btn-dark btn-sm border border-secondary" disabled>0</button>
                  <button class="btn btn-dark btn-sm border border-secondary" disabled>9</button>
                  <button class="btn btn-dark btn-sm border border-secondary font-weight-bold" disabled>:</button>
                  <button class="btn btn-dark btn-sm border border-secondary" disabled>2</button>
                  <button class="btn btn-dark btn-sm border border-secondary" disabled>5</button>
                </div>
              </div>
              <div class="row mt-4 align-self-end">
                <h6 class="col text-center">
                  Last updated time
                </h6>
              </div>
              <div class="row">
                <p class="col text-center">
                  {{ lastUpdatedTime | date:'MM/dd mm:ss'}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col px-4">
          <div class="row">
            <div class="cs-input-group-station">
              <div>
                <span>
                  Connection
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
          <div class="row">
            <div class="cs-input-group-station">
              <div>
                <span>
                  Start time
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
          <div class="row">
            <div class="cs-input-group-station">
              <div>
                <span>
                  End time
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
          <div class="row">
            <div class="cs-input-group-station">
              <div>
                <span>
                  SOC
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
          <div class="row">
            <div class="cs-input-group-station">
              <div>
                <span>
                  Current
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
          <div class="row">
            <div class="cs-input-group-station">
              <div>
                <span>
                  Charged kWh
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
          <div class="row">
            <div class="cs-input-group-station">
              <div>
                <span>
                  Error code
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12 col-md-4">
              <button class="cs-force-button">
                Force Start
              </button>
            </div>
            <div class="col-12 col-md-8">
              <small>
                Force start will let lowest priority charger pause charging
              </small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-md-4">
              <button class="cs-force-button">
                Force Pause
              </button>
            </div>
            <div class="col-12 col-md-8">
              <small>
                Force pause will pause charger, but it will automatically go back to charging if condition is available
              </small>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-12 col-md-4">
              <button class="cs-force-button">
                Force Stop
              </button>
            </div>
            <div class="col-12 col-md-8">
              <small>
                Force stop will stop charger, user needs to press start Force Start to switch on charger.
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-12 div col-lg-6">
          <div class="cs-card-info">
            <div class="card-body d-flex flex-column">
              <div class="card-title">Vehicle Information</div>
              <div class="cs-input-group">
                <div>
                  <span>
                    Vehicle#
                  </span>
                </div>
                <input type="text" value="" />
              </div>
              <div class="cs-input-group">
                <div>
                  <span>
                    VIN#
                  </span>
                </div>
              </div>
              <input type="text" class="form-control" value="">
              <div class="cs-input-group mt-auto">
                <div>
                  <span>
                    Other Info
                  </span>
                </div>
              </div>
              <textarea class="w-100 border" name="" id="" cols="30" rows="10"></textarea>
            </div>
          </div>
        </div>
        <div class="col-12 div col-lg-6">
          <div class="cs-card-info">
            <div class="card-body d-flex flex-column">
              <div class="card-title">Charger Station Information</div>
              <div class="cs-input-group">
                <div>
                  <span>
                    Charger#
                  </span>
                </div>
                <input type="text" value="A01" />
              </div>
              <div class="cs-input-group">
                <div>
                  <span>
                    Priority#
                  </span>
                </div>
                <input type="text" value="A01" />
              </div>
              <div class="cs-input-group">
                <div>
                  <span>
                    VIN#
                  </span>
                </div>
              </div>
              <input type="text" class="form-control" value="">
              <button class="btn btn-primary shadow w-100 mt-2">Update Program</button>
              <div class="cs-input-group mt-auto">
                <div class="w-100">
                  <span class="w-100">
                    Update history
                  </span>
                </div>
              </div>
              <textarea class="w-100 border" name="" id="" cols="30" rows="10"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>