<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/icons/cs.96.png', width: 30, height: 30, alt: 'CS Logo'}"
  [navbarBrandMinimized]="{src: 'assets/icons/cs.96.png', width: 20, height: 20, alt: 'CS Logo'}"
  [sidebarToggler]="true"
  [mobileSidebarToggler]="true" 
  [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false" >
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'" [minimized]="true">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
    </ol>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
  <!-- <app-aside [fixed]="true" [display]="false" [offCanvas]="false"></app-aside> -->
</div>
<app-footer></app-footer>