<div class="animated fadeIn">
  <div class="row bg-white p-2 mx-1">
    <div class="col">
      <div class="row">
        <div class="col-8 col-lg-3">
          <div class="row">
            <div class="cs-input-group-schedule">
              <div>
                <span>
                  Start time
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
          <div class="row">
            <div class="cs-input-group-schedule">
              <div>
                <span>
                  End time
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
        </div>
        <div class="col-4 col-lg-3">
          <div class="row h-100">
            <div class="col-4">
              <a href="#" class="btn btn-secondary h-100 disabled">All day</a>
            </div>
            <div class="col-8">
              <input type="checkbox" class="mt-4">
            </div>
          </div>

        </div>
        <div class="col-8 col-lg-3">
          <div class="row">
            <div class="cs-input-group-schedule">
              <div>
                <span>
                  Start date
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
          <div class="row">
            <div class="cs-input-group-schedule">
              <div>
                <span>
                  End date
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
        </div>
        <div class="col-4 col-lg-3">
          <div class="row h-100">
            <div class="col-4">
              <a href="#" class="btn btn-secondary h-100 disabled">All dates</a>
            </div>
            <div class="col-8">
              <input type="checkbox" class="mt-4">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-lg-3 mr-2">
          <div class="row">
            <div class="cs-input-group-schedule">
              <div>
                <span>
                  Max chargers
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
          <div class="row">
            <div class="cs-input-group-schedule">
              <div>
                <span>
                  Max Current
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3">
          <div class="row">
            <div class="cs-input-group-schedule">
              <div>
                <span>
                  Max kW
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
          <div class="row">
            <div class="cs-input-group-schedule">
              <div>
                <span>
                  Daily Max kW
                </span>
              </div>
              <input type="text" value="" />
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <table class="table table-responsive-lg table-striped table-hover table-outline mb-0">
          <!-- <thead class="thead-light"> -->
          <thead class="bg-primary">
            <tr>
              <th>Start time</th>
              <th>End time</th>
              <th>All day</th>
              <th>Start date</th>
              <th>End date</th>
              <th>All dates</th>
              <th>Max charger</th>
              <th>Max current</th>
              <th>Max kW</th>
              <th>Daily Max kWh</th>
              <th>User</th>
              <th>Updated</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of schedules$ | async">
              <td>
                <div class="small text-muted">{{s.start_time}}</div>
              </td>
               <td>
                <div class="small text-muted">{{s.end_time}}</div>
              </td>
               <td>
                <div class="small text-muted">{{s.all_day? enabled : null}}</div>
              </td>
               <td>
                <div class="small text-muted">{{s.start_date | date:'MM/dd/yyyy'}}</div>
              </td>
               <td>
                <div class="small text-muted">{{s.end_date | date:'MM/dd/yyyy'}}</div>
              </td>
               <td>
                <div class="small text-muted">{{s.all_dates? enabled : null}}</div>
              </td>
               <td>
                <div class="small text-muted">{{s.max_charger}}</div>
              </td>
               <td>
                <div class="small text-muted">{{s.max_current}}</div>
              </td>
               <td>
                <div class="small text-muted">{{s.max_kw}}</div>
              </td>
               <td>
                <div class="small text-muted">{{s.user_code}}</div>
              </td>
               <td>
                <div class="small text-muted">{{s.update_time}}</div>
              </td>
               <td>
                <div class="small text-muted">{{s.daily_max_kwh}}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>