<ul class="nav navbar-nav ml-auto">
  <li class="nav-item dropdown" dropdown placement="bottom right">
    <a class="nav-link text-primary" data-toggle="dropdown" 
      href="#" role="button" aria-haspopup="true" 
      aria-expanded="false" dropdownToggle (click)="false">
      <span class="mr-2">
        {{ (user | async)?.name | titlecase }}
        <i class="fa fa-power-off fa-lg"></i> 
      </span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" 
      *dropdownMenu aria-labelledby="simple-dropdown">
      <a class="dropdown-item" (click)="signOut()">
        <i class="fa fa-sign-out"></i> Logout
      </a>
    </div>
  </li>
</ul>