<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <h1>Register</h1>
              <p class="text-muted">Create your account</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" [(ngModel)]="username" class="form-control" placeholder="Username">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" [(ngModel)]="email" class="form-control" placeholder="Email">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" [(ngModel)]="password" class="form-control" placeholder="Password">
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" [(ngModel)]="passwordrepeat" class="form-control" placeholder="Repeat password">
              </div>
              <button type="button" class="btn btn-block btn-success" (click)="signUp()">Create Account</button>
              <div class="px-2">
                <small>
                  By creating an account, you are agreeing to the terms & conditions and privacy policy, including receipt of email notifications.
                </small>
              </div>
            </div>
            <div class="card-footer p-4">
              <div class="row mt-2 justify-content-center">
                <!-- <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div> -->
                <div class="col-8">
                  <button class="btn btn-block btn-twitter" type="button" [routerLink]="['/login']"><span>Back to Login</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
