$fa-font-path: '~font-awesome/fonts';

// Here you can add other styles
// @import '~@swimlane/ngx-datatable/release/index.css';
// @import '~@swimlane/ngx-datatable/release/themes/material.css';
// @import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~font-awesome/scss/font-awesome.scss';

$input-font-small: 12.6px;
$input-text-width-limitation: 110px;
$input-text-width-filter: 80px;
$input-text-width-search: 80px;
$input-text-width-switch: 110px;
$input-group-height: 38px;

.cs-submit {
    @extend .shadow;
    width: 100px;
}

.cs-input-group {
    @extend .input-group; 
    @extend .py-1;
    height: $input-group-height; 
}

.cs-input-group div:first-of-type {
    @extend .input-group-prepend;
}

.cs-input-group div:first-of-type span {
    @extend .input-group-text;
    font-size: $input-font-small;
}

.cs-input-group input[type="text"] {
    @extend .form-control;
    font-size: $input-font-small;
}

// limitation component inherits from cs-input-group
.cs-input-group-limitation {
    @extend .cs-input-group;
}

.cs-input-group-limitation span {
    width: $input-text-width-limitation !important;
}

// search component inherits from cs-input-group
.cs-input-group-search {
    @extend .cs-input-group;
}

.cs-input-group-search span {
    width: $input-text-width-search !important;
}

.cs-input-group-search div:last-of-type {
    @extend .input-group-append;
}

// filter component inherits from cs-input-group
.cs-input-group-filter {
    @extend .cs-input-group;
}

.cs-input-group-filter span {
    width: $input-text-width-filter !important;
}

.cs-input-group-filter div:last-of-type {
    @extend .btn-group;
    @extend .p-1;
    @extend .border; 
}

.cs-input-group-filter div:last-of-type a {
    @extend .nav-link;
    @extend .pt-1;
    @extend .px-1;
    @extend .d-flex;
    @extend .flex-row;
}

.cs-input-group-filter div:last-of-type a i {
    @extend .fa;
    @extend .fa-circle;
    @extend .px-1;
}

.cs-input-group-filter div:last-of-type a small {
    @extend .d-none;
    @extend .d-lg-block;
}

// switch button
.cs-input-group-switch {
    @extend .cs-input-group;
}

.cs-input-group-switch div:first-of-type span {
    width: $input-text-width-switch !important;
}

.cs-input-group-switch div:last-of-type {
    @extend .text-center; 
    @extend .p-1; 
    width: 80px;
}